
body {
  padding-top: 60px;
}

img {
max-width: 900px;
}

#aboutme {
  padding-right: 50px;
}

.metext {
  font-style: italic;
}

#projectssection {
  padding-top: 20px;
  padding-bottom: 20px;

}

.mainpgthumbnail {
  width: 70%;
  height: 70%;
  overflow: auto;

}

.jumbotron {
  /*background-color: #f9f9f9;*/
  text-align: center;
  padding-bottom: 40px;

}

.projectpgthumbnails {
  width: 60%;
  height: 60%;
  overflow: auto;
  /*float: right;*/
}

#board{
  padding-top: 15px;
}

#wiki {
  max-height: 138px;
}
